# Local
.DS_Store
*.local
*.log*

# IDE
.idea

# Build stuff.
target
pkg
dist
out
result
*.tsbuildinfo
node_modules
/.direnv

# Don't leak dev stuff
*.mp4
*.fmp4
*.crt
*.key
*.hex
*.jwk
*.jwt

# We're using bun (and sometimes deno)
package-lock.json
yarn.lock
pnpm-lock.yaml
